@import "_colors";
@import "_mixins";
@import '_variables';

.table {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  background: white;
  @include border-box();

  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  &-heading {
    width: 100%;
  }

  &-header {
    background: $table-background-light-grey;
    margin-top: 15px
  }

  &-name {
    padding: 25px 15px;
    @include font-style(21px, '', .21px, 500);
  }

  &-file-upload {
    width: 100%;
    padding-left: 20px;
    //background: #FFF7F7;
    @include border-box();

    &-label {
      @include font-style(14px, 16px, .21px, 400);
    }

    &-field {
      margin-left: 30px;
      width: 200px;
    }

    &-button {
      width: 100px;
      height: 35px;
      background: $button-blue;
      border-radius: 2px;
      color: white;
      cursor: pointer;
      @include font-style(14px, 16px, .21px, 500);

      &:hover {
        background: $button-hover-blue;
      }
    }
  }

  &-column-title {
    @include font-style(18px, '', .21px, 500);
    padding: 20px 0;
  }

  &-row {
    position: relative;

    &-cell {
      @include border-box();
      padding: 10px;
      height: 300px;
      overflow-y: scroll;

      &.narrow {
        width: 15%;
      }

      &.normal {
        width: 25%;
      }

      &.odd {
        background: $table-row-background-even;
      }

      &.even {
        background: $table-row-background-odd;
      }
    }

    &-delete-button {
      position: absolute;
      transform: translateX(5px);
      width: 100px;
      height: 35px;
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 2px;
      cursor: pointer;
      @include font-style(14px, 16px, .21px, 500);

      &:hover {
        background: red;
        color: white;
      }
    }
  }

  &-scroll-top-button {
    position: fixed;
    opacity: 0;
    border: 1px solid silver;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 4%;
    cursor: pointer;
    background: white;

    &.visible {
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }
}
