$main-background-color: #F3F5FA;
$light-grey-background: #FBFCFF;

$table-background-light-grey: #EEF2FF;

$table-row-background-even: #F6F8FC;
$table-row-background-odd: #EEF2FF;

$button-blue: #246EE9;
$button-hover-blue: #1F7DE5;
