body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea,
input,
select,
li,
ul,
a {
  margin: 0;
  padding: 0;
}

body {
  z-index: 0;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  -webkit-appearance:none;
  -moz-appearance: none;
}

button,
input,
select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
