@import "_colors";
@import "_variables";
@import "_mixins";

.viewer {
  width: 100%;
  height: 100%;
}

.modal-content {
  height: 150px;
  padding: 20px;
  @include border-box();

  .modal-buttons-container {
    margin-top: 40px;

    button {
      width: 45%;
      height: 30px;
      border-radius: 2px;
      cursor: pointer;
      @include font-style(14px, '', .21px, 500);

      &:hover {
        background: $table-background-light-grey;
      }
    }

    .reject-button {
      border: 1px solid $button-blue;
    }

    .confirm-button {
      border: 1px solid red;
    }
  }
}

app-dataset-viewer-table {
  width: 80%;
  position: relative;
  left: 20%;
}
